.container {
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main {
	width: 100%;
	display: flex;
	gap: 50px;
	justify-content: center;
	align-items: center;
}
